#userDataForm {
    background-color: rgb(233 234 235);
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 800px;
    line-height: 1.5em;
    text-align: center;
    justify-items: center;

    h1 {
        font-size: 40px;
        width: 90%;
        margin-bottom: 10px;
    }

    input {
        border-style: double;
        border-color: grey;
        border-radius: 6px;
        width: 170px;
        margin: 0.6em;
        height: 2em;
        text-align: center;
    }

    button {
        height: 2em;
        width: 12em;
        margin: 10px;
    }

}
