form {
    background-color: rgb(233 234 235);
    width: 80%;
    min-width: 890px;
    max-width: 1000px;
    border-radius: 20px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #c4c4c4;
    gap: 8px;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    justify-content: center;
    align-items: center;



    h1 {
        font-family: Russo One, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        ;
        color: #7f47b1;
        grid-column: 1 / -1;
        width: 100%;
        font-size: 40px;
    }

    h3 {
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    p {
        grid-column: 1 / -1;
        font-weight: 500;
        font-size: 18px;
        width: 100%;
        text-align: center;

    }

    input {
        border-style: double;
        border-color: rgb(65 65 65);
        text-align: center;
        border-radius: 6px;
        width: 200px;
        margin: 0.6em;
        height: 2.2em;
    }

    button {
        grid-column: 1 / -1;
        justify-self: center;
        width: 250px;
        height: 35px;
        background-color: #3d3d3d;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        align-items: center;

        &:hover {
            transition: 1s ease;
            background-color: #7f47b1;

        }
    }

}