/**
 HOJA DE ESTILOS GENERAL DE LA PÁGINA
 - TIPOGRAFÍAS
 - COLORES
 */

html {
  font-family: sans-serif;
  font-size: 18px;
  background-color: #444444;

  body {
    background-color: #ffffff;
    min-height: 100vh;

    header,
    main {
      background-color: #676b6b;
    }

    header {
      h1 {
        font-size: 32px;
      }

      .menu-inicio {
        a {
          border-bottom: 4px solid #ff0000;
          color: #ffffff;
          text-decoration: none;



          &:hover {
            background-color: rgb(132, 174, 177);
            

          }
        }
      }
    }

    main {
      form {
        background-color: #444444;
        color: white;

        p {
          background-color: #3f8f54;
          color: white;
          border-radius: 5px;
        }
      }


      .lista-pokemon {
        .pokemon {
          background-color: rgb(255, 255, 255);
          border-radius: 5px;


          figcaption {
            font-size: 12px;
            font-weight: bold;
            color: #555555;
          }
          
          
          .nombrepokemon {
            color: rgb(0, 0, 0);
            font-weight: bold;
            border-bottom: 1px solid#000000;

          }
        }
      }
    }

    .clases {
      display: flex;
      column-gap: 10px;

      .tag {
        &.grass {
          background-color: #9bcc50;

        }

        &.poison {
          background-color: #b97fc9;
          color: white;
        }

        &.bug {
          background-color: #729f3f;
          color: white;
        }

        &.normal {
          background-color: #a4acaf;
          color: white;
        }

        &.flying {
          background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
        }

        &.ground {
          background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
        }

        &.water {
          background-color: #4592c4;
          color: white;
        }

        &.electric {
          background-color: #eed535;
        }

        &.steel {
          background-color: #9eb7b8;
        }

        &.ice {
          background-color: #51c4e7;
        }

        &.psychic {
          background-color: #f366b9;
          color: white;
        }

        &.fighting {
          background-color: #d56723;
          color: white;
        }

        &.rock {
          background-color: #a38c21;
          color: white;
        }

        &.fairy {
          background-color: #fdb9e9;
        }

        &.fire {
          background-color: #fd7d24;
          color: white;
        }

        &.dragon {
          background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
          color: white;
        }

        &.dark {
          background-color: #707070;
          color: white;
        }

        &.ghost {
          background-color: #7b62a3;
          color: white;
        }
      }
    }
  }

}