html {


    header {

        p { 
            color: aliceblue;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            text-align: center;
            border-bottom: 2px black solid;

        }

    }


    body {
        background-color: rgb(59, 59, 50);
        margin: 10px;
        
        main {
            margin: 20px;
            letter-spacing: 1px;
            line-height: 30px;
            font-family:fantasy;
            font-size: larger;
            color: rgb(156, 255, 238);
            

            input{
                padding: 5px;
                border: 2px ;
                border-color: rgb(0, 0, 0);
                width: 200px;
                border-radius: 100px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
            }

            



        
            button{ 
                background-color: rgb(228, 142, 93);
                border-radius: 100px;
                height: 30px;
                border: 1px solid;
                width: 120px;

            }


            h1{
            border-bottom: 3px solid rgb(71, 166, 255);
            width: fit-content;
            
        }


        }

        .hidden {
            display: none;
        }   


    }

}