
/** ESTILOS LETRAS, COLORES, FONDOS  */

html{ 
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(22 43 49);

    .hidden {
      display: none;
}
}

header {
   color: rgb(233 157 15);
   
   &#topper {
      background-color: rgb(233 234 235);
      
   
   }

   p {
      border-bottom: 2px solid;
      width: 100%
   }
}

a { 
   color: black;
}

button {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(255 172 17);
   border-radius: 6px;  
   font-weight: bold; 
}

#userDataForm {
   border: 2px black solid;

   input{
      border-style:double;
      border-color: grey;
      border-radius: 6px;
   }
}
   

#register-form{
   border: 2px black solid;

   input{
      border-style:double;
      border-color: grey;
      border-radius: 6px;
   }

   /* button {
      background-color: rgb(255 172 17);
      border-radius: 6px;   
   } */
}

#saveResults {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border: 2px black solid;

   input{
      border-style:double;
      border-color: grey;
      border-radius: 6px;
   
   }

   /* button {
      background-color: rgb(255 172 17);
      border-radius: 6px;   
   } */

}




