/** ESTILOS LETRAS, COLORES, FONDOS  */

html {
   font-family: montserrat;
   background-color: rgb(22 43 49);
  


   .hidden {
      display: none;
   }
}

header {
   color: rgb(233 157 15);

   h1 {
      font-size: 40px;
   }

   &#topper {
      background-color: rgb(233 234 235);


   }

   p {
      border-bottom: 2px solid;
      width: 100%
   }
}

a {
   color: black;
}

button {
   background-color: rgb(255 172 17);
   border-radius: 6px;
   font-weight: bold;
}

body {

   h1 {
      font-size: 40px;
      color: chocolate;
   }

   #menuHorizontal {
      background-color: rgb(233 234 235);
   }

   #navMenu{

      #menuHorizontal{
         border: 2px solid;
         border-color: chocolate;
         border-radius: 10px;
      }

   }

   #userDataForm {
      background-color: rgb(246 248 247);
      
   }

   .userChanges {
      background-color: rgb(233 234 235);

   }

   form {

      input {
         border-style: double;
         border-color: grey;
         border-radius: 6px;

      }
   }
}