
header {
    width: 100%;

    h1 {
        font-size: 82px;
        font-weight: 600;
        color: beige;
        background-color: black;


    }

    &#topper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h2 {
            padding: 10px;
        }

    }
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    justify-items: center;
    background-image:linear-gradient(rgba(0 0 0 60%), rgba(0, 0, 0, 40%)),url(img/image-asset.jpeg);
    background-size:auto;
    background-attachment: scroll;
    
    button {
        height: 2em;
        width: 12em;
        margin: 10px;
    }

     input {
            width: 170px;
            margin: 0.6em;
            height: 2em;
            text-align: center;
        }

    #logIn {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        margin-top: 40px;
        height: 300px;

        &.hidden {
            display: none ;
        }
 
    }

    #signIn {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        margin-top: 40px;
        height: 300px;

        &.hidden {
            display: none ;
        }
    }
}

#menuInicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    margin: 20px;

    .imgLink {
        width: 250px;
        height: 250px;
        margin: 10px;
        position: relative;
    }

    .imgLink img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 5px 5px 9px black;
    }

    .imgLink p {
        position: absolute;
        font-size: 1.5rem;
        padding: 5px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
    }

}

.lista-usuarios {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    margin: 20px 0 10px;
    border-left: 10px solid black;
    padding: 10px;

}

.horaClase{
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    width: fit-content;
    margin-top: 20px;
    padding: 10px;
}

#menuHorizontal {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    ul {
        padding: 12px 20px;

        &:hover {
            font-weight: 600;
            text-decoration: underline;
        }
    }

}

.userChanges {
    padding: 20px;
    margin: 60px ;
    width: 800px;

    input {
        width: 200px;
    }

    p {
        padding: 5px;
    }

}

#saveMetrics {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 800px;
    line-height: 1.5em;
    text-align: center;
    justify-items: center;

    h1 {
        width: 100%;
        margin-bottom: 10px;
    }
}

#userDataForm {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 800px;
    line-height: 1.5em;
    text-align: center;
    justify-items: center;

    h1 {
        width: 90%;
        margin-bottom: 10px;
    }

}


/* #saveResults {
    background-color: rgb(233 234 235);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 500px;
    margin-top: 40px;
    line-height: 1.5em;
    text-align: center;
    justify-content: center;
   

    h1{ width: 100%;
        font-size: 40px;
        margin-bottom: 20px;
        text-decoration: underline
    }

    input {
        border-style: double;
        border-color: grey;
        border-radius: 6px;
        width: 170px;
        margin: 0.6em;
        height: 2em;
        text-align: center;
    }

    button {
        height: 2em;
        width: 12em;
        margin: 10px;
    }

} */