form {
    background-color: #c4c4c4;
    width: 80%;
    max-width: 1000px;
    min-width: fit-content;
    border-radius: 20px;
    padding: 30px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form h1 {
    font-family: 'Saira', sans-serif;
    color: #7f47b1;
    font-size: 40px;
    text-align: center;
}

.inputs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    justify-items: stretch;
}

.inputs-grid label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputs-grid p {
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.inputs-grid input {
    border-style: double;
    border-color: rgb(65 65 65);
    text-align: center;
    border-radius: 6px;
    width: 200px;
    margin: 0.6em;
    height: 2.2em;
}

form button {
    width: 220px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

form button:hover {
    background-color: #7f47b1;
}