form{
    display:flex;
    flex-direction:column;
    background-color: #F5F5F5;
    width: 40vw;
    height: 50vh;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 30px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 40px auto;

    h1{
        font-size: 35px;
        font-weight: 600;
        text-decoration: underline;
        color:#753a9c
    }

    h2{
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        color:#753a9c
    }

    p{
        font-size: 18px;
    }

    input {
        border-style: double;
        border-radius: 6px;
        width: 220px;
        height: 30px;
        text-align: center;
    }

}

   button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    align-items: center;
    margin: 10px 15px;

    &:hover {
        transition: 1s ease;
        background-color: #753a9c;
    }
}
    

