form{
    display:flex;
    flex-direction:column;
    background-color: #F5F5F5;
    width: 30vw;
    height: 40vh;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 30px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 40px auto;

    h1{
        font-size: 35px;
        font-weight: 600;
        text-decoration: underline;
    }

    h2{
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
    }

    p{
        font-size: 15px;
    }

    input{
        border: 2px solid black;
        border-radius: 20px;
        width: 50%;
        height: 8%;
        min-height: fit-content;
        min-width: fit-content;
        font-size: 15px;
        text-align: center;
    }

}

    button{
        border: 0;
        color:#ffffff;
        width: 30%;
        height: 30px;
        border-radius: 10px;
        background-color: #3d3d3d;
        font-weight: 600;

        &:hover{
        transition: 1s ease;
        background-color: #7f47b1 ;
        color:#F5F5F5;
            
        }
    }

